*{box-sizing: border-box;
                padding: 0;
                margin: 0;}




.containermain{height: 100vh;
               width: 100vw;
                background-color: black;}

div[class^="bar"]{display: flex;}  

div[class$="footer"],div[class$="nav"]{height: 7%;
                                       padding: 0.3rem;
                                       flex-shrink: 0;}
                           
main .bar-profiles{width: 90%;margin: auto;overflow: auto;background-color: aqua;flex-grow: 1;}


.top-button button{position: relative; background-color:grey;border: 0;padding: 0.1rem;border-radius: 10%;}

.top-button{position: absolute;top: 0.5rem;right: 0.5rem;}

.bar-footer{justify-content: space-between;align-items: center;}
.bar-footer .middle-footer-button{flex-grow: 1;text-align: center;}
.bar-footer .right-footer-button{height: 100%;background-color: coral;padding: 0.7rem;}

button{color: white;}
footer button{border: none;background-color:transparent;padding: 5px;}
.bar-profiles{width: 90%;margin: auto;overflow: auto;}
.profile-container{border: 4px solid transparent;width: calc((100%-8px)/7;height: calc((100%-8px)/5);}
.profile-container img{object-fit: cover;position: relative;}
.namestatus{display: flex}